btnPlay  RCDATA "btnPlay.png"
btnPause RCDATA "btnPause.png"
btnStop  RCDATA "btnStop.png"
btnPrev  RCDATA "btnPrev.png"
btnNext  RCDATA "btnNext.png"
btnUp    RCDATA "btnUp.png"
btnDown  RCDATA "btnDown.png"
btnAdd   RCDATA "btnAdd.png"
btnClose RCDATA "btnClose.png"